
@media only screen and (max-width: 991px) {/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
    body {
        font-family: 'Cairo', sans-serif;
        color: #707070;
    }  
    a {
        text-decoration: none;
        color: #707070;
    }  
    a:hover {
        text-decoration: none;
        color: #282828;
    }  
    h1, h2, h3, h4, h5, h6 {
        font-family: "Cairo", sans-serif;
    }
    label {
        color: #282828;
    }
    .form-control:disabled, .form-control[readonly] {
        background-color: #fff;
        opacity: 1;
    }
    button:focus {
        outline: none;
    }
    
    /*--------------------------------------------------------------
    # Header Section
    --------------------------------------------------------------*/
      .brand {
        width: 40%;
        text-align: center;
        position: relative;
        left: 10px;
      }
      .brand-ar {
        width: 40%;
        text-align: center;
        position: relative;
        right: 10px;
      }
      .nav_toggle {
        display: block;
        padding: 14px 7px;
        background-color: #ffffff;
        cursor: pointer;
        border: none;
        outline: 0;
      }
      
      .nav_toggle:focus {
        outline: 0;
      }
      .nav_wrapper {
        position: fixed;
        top: 72px;
        left: 0;
        width: 100%;
        height: fit-content;
        bottom: 0;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-100%);
        background-color: #ffffff;
        transition: transform 0.3s ease-out, opacity 0.3s ease-out;
        display: block; 
      }   
      
    .nav_wrapper.active {
        visibility: visible;
        opacity: 1;
        transform: translateX(0); 
        box-shadow: 0px 5px 8px 0px #eee;
      } 
      .nav_item {
        border-bottom: 1px solid #eee; 
        margin: 0 10px;
      }    
      .nav_item a {
        font-size: 14px;
        padding: 10px 0px;
        text-align: initial;
      }
      .cart_wrapper {
        width: 75%;
    }
      .social-links {
        display: block;
      }
      .social-links ul {
        display: flex;
        list-style-type: none;
        padding-left: 0;
        margin-top: 35px;
        margin-bottom: 15px;
      }   
      .social-links ul li {
        
      }    
      .social-links ul li a {
        font-size: 18px;
        padding: 5px 6px;
        color: #555555;
      }   
      .social-links ul li a:hover {
        color: #282828;
      }  



      .body-container {
        top: 65px;
    }

}

@media (min-width: 600px) {
    .button span {
      display: initial;
    }
  }