/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Cairo', sans-serif;
    color: #707070;
}  
a {
    text-decoration: none;
    color: #707070;
}  
a:hover {
    text-decoration: none;
    color: #282828;
}  
h1, h2, h3, h4, h5, h6 {
    font-family: "Cairo", sans-serif;
}
label {
    color: #282828;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #fff;
    opacity: 1;
}
button:focus {
    outline: none;
}
  
  
/*--------------------------------------------------------------
# Header Section
--------------------------------------------------------------*/
.brand {
    position: relative;
    left: 80px;
  }
  .brand-ar {
    position: relative;
    left: 170px;
  }
  .header {
    background-color: #ffffff;
    border-bottom: 1px solid #eee;
  }
  
  .header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  .nav_toggle {
    display: none;
  }
  .nav_toggle span.line{
      display: block;
      position: relative;
      left: 0;
      width: 18px;
      height: 1px;
      -webkit-transform: rotate(0);
      transform: rotate(0);
      -webkit-transition: -webkit-transform 0.1s ease;
      transition: transform 0.1s ease;
      background: #707070;
  }
  .nav_toggle span.line::after{
      content: '';
      position: absolute;
      left: 0;
      top: 7px;
      width: 100%;
      height: 100%;
      background-color: #707070;
      transition: all 0.3s ease;
  }
  .nav_toggle span.line::before{
      content: '';
      position: absolute;
      left: 0;
      top: -7px;
      width: 100%;
      height: 100%;
      background-color: #707070;
      transition: all 0.3s ease;
  }
  .nav_toggle[aria-expanded="true"] span.line{
    background: transparent;
  }
  .nav_toggle[aria-expanded="true"] span.line::after{
    transform: rotate(45deg);
    top: 0;
  }
  .nav_toggle[aria-expanded="true"] span.line::before{
    transform: rotate(-45deg);
    top: 0;
  }
  .nav_wrapper {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
  }
    .nav_wrapper.active {
      visibility: visible;
      opacity: 1;
      transform: translateX(0); 
    }
    .nav_item a {
      display: block;
      padding: 16px 12px; 
    }
    .cart-nav {
      width: 50px;
    }
  .cart_toggle{
    padding: 16px 12px;
  }
  
  .cart_toggle span.count {
    position: relative;
    bottom: 8px;
    left: 3px;
    font-size: 14px;
    color: #6aa503;
  }
  
  .cart_toggle span.count-ar {
    position: relative;
    bottom: 8px;
    right: 3px;
    font-size: 14px;
    color: #6aa503;
  }
    .cart_toggle  svg {
        width: 16px;
        height: 16px;
    }
  .cart_wrapper {
      position: fixed;
      top: 0;
      right: 0;
      width: 30%;
      bottom: 0;
      z-index: 1;
      visibility: hidden;
      opacity: 0;
      transform: translateX(100%);
      background-color: #ffffff;
      transition: transform 0.3s ease-out, opacity 0.3s ease-out;
      display: block;
  }
    .cart_wrapper.active {
      visibility: visible;
      opacity: 1;
      transform: translateX(0); 
      padding: 0 37px;
      box-shadow: 2px 0px 10px 5px #eee;
      height: 100%;
    }  
  
    .close-btn {
        height: 79px;
        padding-top: 32px;
        border-bottom: 1px solid #eee;
        text-align: right;
      }
      .cart-body {
        text-align: center;
        padding: 40px 0;
      }
      .cart-cross-icon {
        background-color: #eee;
        width: 50px;
        height: 50px;
        padding: 13px;
        border-radius: 50%;
        margin: 0 auto;
      }
      .cart-cross-icon svg {
        stroke-width: 1.4;
      }
      .cart-content {
        margin-top: 20px;
      }
      .cart-cont-btn {}
      .cart-cont-btn a {
        color: #777;
        border-radius: 10px;
        border-color: #599901;
        background: #fff;
        padding: 8px;
        opacity: 0.8;
      }
      .cart-cont-btn a:hover {
        opacity: 1;
      }
       
    .social-links {
      display: none;
    }



  
/*--------------------------------------------------------------
# Body Section
--------------------------------------------------------------*/
#body-section {
    margin-bottom: 100px;
}
.page-header h4 {
    font-size: 22px;
    margin-bottom: 0;
}
.body-container {
    position: relative;
    top: 106px;
    color: #282828;
    width: 100%;
    max-width: 526px;
    margin: 0 auto;
    padding-top: 61px;
    padding-bottom: 87px;
    overflow: hidden;
    text-align: initial;
}
.form-group label {
    display: inline-block;
    line-height: 1.2;
    font-size: 14px;
    color: #282828;
    padding-top: 5px;
    padding-bottom: 8px;
    margin: 0;
}
input.form-input {
    font-size: 14px;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 8px 10px;
}
input.form-input:focus {
    font-size: 14px;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ccc;
    outline: 0;
    box-shadow: none;
}
.submit-btn {
    margin-top: 3px;
}
.btn-primary {
    width: 100%;
    border-radius: 10px;
    color: #ffffff;
    background-color: #63a803;
    border: none;
    padding: 12px;
    line-height: 16px;
}
.btn-primary:hover {
    opacity: 0.82 !important;
    background-color: #63a803;
    border: none;
}
.btn-primary:focus {
    color: #fff;
    background-color: #63a803;
    border: none;
    box-shadow: none;
}
.sim-img {
    width: 65%;
    margin-left: auto;
    margin-top: 30px;
}
.package-section {
    text-align: initial;
}
.package-section h4 {
    font-size: 22px;
    padding-bottom: 30px
}
.package-main-div {
    padding-top: 5px;
}
.package-card {
    border: 1px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, .15);
    background: white;
    margin: 10px 5px 5px 5px; 
    padding: 5px;
}
.package-card a {
    display: flex;
}
.package-card a .package-icon {
    flex: 20%; 
    font-weight: normal;
    font-size: 22px;
}
.package-card a .package-icon img {
    padding: 4px;
}
.package-card a .package-content {
    flex: 80%;
    padding-left: 5px;
    line-height: 1.9;
}
.package-card a .package-content .package-content-title {
    font-size: 22px;
    font-weight: 400; 
    color: #399916;
    margin-bottom: 0;
}
.package-card a .package-content .package-content-decrp {
    color: black;
    font-size: 14px;
    font-weight: 300; 
    margin-bottom: 5px;
    opacity: 0.7;
}
.package-card a .package-content .package-content-link {
    text-align: right; 
    font-size: 13px;
    margin-bottom: 0;
    padding-right: 10px;
    color: #399916;
}
.package-card a .package-content .package-content-link-ar {
    text-align: left;
}

/*--------------------------------------------------------------
# Footer Section
--------------------------------------------------------------*/
.footer-inner-div {
    height: 188px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #6aa503;
    color: #fff;
}
.footer-logo {
    line-height: 30px;
    margin-bottom: 22px;
}
.footer-logo img {
    max-height: 30px;
    max-width: 30px;
}
.footer-copyright {
    font-size: 14px;
    margin-bottom: 16px;
}
.footer-social-links {
    margin-top: 10px;
}
.footer-social-links ul {
    list-style-type: none;
    padding-left: 0;
}
.footer-social-links ul li {
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
}
.footer-social-links ul li a {
    color: #ffffff;
    font-size: 18px;
}
.footer-social-links ul li a:hover {
    color: #dddddd;
}
.footer-social-links ul li a i {
    
}


.valid-sim-alart {
    color: #03a678;
    padding-bottom: 10px;
    font-size: 16px;
    text-align: center;
}
.valid-sim-alart span {
    font-size: 16px;
    vertical-align: top;
}
.valid-sim-alart span svg {
    margin-right: 8px;
}


.select2-container .select2-selection--single {
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 5px 10px;
    font-size: 14px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px;
}



.plan-table {
    table-layout: fixed;
    border-collapse: separate !important;
    color: #58773e;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.plan-table tr .plan-label {
    font-size: 14px;
    line-height: 20px;
    padding: 11px 0 11px 16px;
    border-right: 0 none;
    width: 40%;
    border-bottom: none;
}
.plan-table tr .plan-value {
    text-align: right;
    padding-left: 16px;
    border: none;
}
.plan-table tr .plan-label-ar {
    padding: 11px 16px 11px 0;
}
.plan-table tr .plan-value-ar {
    text-align: left;
}
.plan-table tr .plan-border {
    border-top: 1px solid #ccc !important;
}
.plan-table tr td {
    position: relative;
    vertical-align: middle;
    background-clip: padding-box;
}
.plan-table-control {
    font-size: 0;
    line-height: 1;
    margin: 0 -4px;
    padding: 4px 12px 4px 0;
}
.plan-table-control li {
    display: inline-block;
    text-align: center;
    width: 90px;
    height: 60px;
    margin: 4px;
    border: 1px solid transparent;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: border 0.2s ease;
    transition: border 0.2s ease;
}
.plan-table-control.plan-table-control-size li span {
    position: relative;
    font-size: 14px;
    color: #282828;
    line-height: 60px;
    padding-left: 1px;
    cursor: pointer;
}
.plan-table-control.plan-table-control-size li:hover, 
.plan-table-control.plan-table-control-size li.selected {
    border-color: #373737;
    text-align: center;
}
.plan-table-control.plan-table-control-size li.selected {
    border-color: #63a803;
    background-color: #f1f7eb;
}



.products-div {
    margin-top: 20px;
}
.products-div .product-head {}
.products-div .product-head a p.title {
    margin-bottom: 8px;
    color: black;
    font-size: 16px;
}
.products-div .product-price p.price {
    margin-bottom: 15px;
    font-size: 14px;
}
.products-div .product-btn {}
.products-div .product-btn a.buynow {
    display: block;
    font-size: 14px;
    margin-top: 11px;
    padding: 10px 0px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}
.products-div .product-btn a.showmore {
    display: block;
    font-size: 14px;
    padding: 10px 0px;
    border-top: 0px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}
.products-div .product-btn a.buynow:hover {
    color: #399916;
}
.products-div .product-btn a.showmore:hover {
    color: #399916;
}
.products-div .product-btn a.buynow-ar {
    text-align: left;
}
.products-div .product-btn a.showmore-ar {
    text-align: left;
}


.activate-msg p {
    font-size: 14px;
}

